.modal-static {
    position    : fixed;
    top         : 50% !important;
    left        : 50% !important;
    margin-top  : -100px;
    margin-left : -100px;
    overflow    : visible !important;
}

.modal-static,
.modal-static .modal-dialog,
.modal-static .modal-content {
    width  : 200px;
    height : 200px;
}

.modal-static .modal-dialog,
.modal-static .modal-content {
    padding : 0 !important;
    margin  : 0 !important;
}

.form-control {
    -webkit-transition : all 0.7s ease;
    -moz-transition    : all 0.7s ease;
    -o-transition      : all 0.7s ease;
    -ms-transition     : all 0.7s ease;
    transition         : all 0.7s ease;
}

.has-success .form-control,
.has-success .checkbox,
.has-success .radio,
.has-success .droppable-input {
    border-color       : #3c763d;
    background         : rgb(219, 255, 219);
    -webkit-box-shadow : inset 0 0.5px 0.5px rgba(0, 0, 0, 0.075), 0 0 3px #67b168;
    box-shadow         : inset 0 0.5px 0.5px rgba(0, 0, 0, 0.075), 0 0 3px #67b168;
}

.has-error .form-control,
.has-error .checkbox,
.has-error .radio,
.has-error .droppable-input {
    border-color       : #a94442;
    background         : rgb(255, 234, 234);
    -webkit-box-shadow : inset 0 0.5px 0.5px rgba(0, 0, 0, 0.075), 0 0 3px #ce8483;
    box-shadow         : inset 0 0.5px 0.5px rgba(0, 0, 0, 0.075), 0 0 3px #ce8483;
}

body {
    background-image : url("../img/trainer/trainer-background.png");
}

.navbar-brand {
    color          : #efc84a !important;
    padding-top    : 0;
    padding-bottom : 0;
}

.navbar-brand .trainer-brand {
    background     : url("../img/trainer/trainer-brand.png") no-repeat;
    display        : inline-block;
    vertical-align : middle;
    width          : 191px;
    height         : 50px;
    margin         : 0 10px 0 0;
}

.navbar-brand:hover {
    color : #d14f3a !important;
}

section.stepspace {
    margin : 0 20px;
}

div.step {
    display : none;
    z-index : 0;
}

div.step.current {
    display : block;
    z-index : 1;
}

div.latex {
    display : inline-block;
    padding : 3px;
}

/* DROPABLE */
div.droppable-input, div.draggable-value {
    -webkit-touch-callout : none;
    -webkit-user-select   : none;
    -khtml-user-select    : none;
    -moz-user-select      : none;
    -ms-user-select       : none;
    user-select           : none;
}

div.droppable-input {
    display            : block;
    width              : 100%;
    height             : 40px;
    padding            : 4.4px 4px;
    margin             : 5px 0;
    font-size          : 14px;
    line-height        : 1.428571429;
    color              : #555555;
    vertical-align     : middle;
    background-color   : #ffffff;
    border             : 1px solid #cccccc;
    border-radius      : 4px;
    -webkit-box-shadow : inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow         : inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

div.draggable-value {
    display          : inline-block;
    height           : 30px;
    line-height      : 21px;
    cursor           : move;
    margin-right     : 5px;
    padding          : 3px 12px;
    font-size        : 14px;
    border-radius    : 4px;
    color            : #ffffff;
    background-color : #428bca;
    border           : 1px solid #357ebd;
}

div.draggable-value:hover {
    background-color : #3276b1;
    border-color     : #285e8e;
}

div.droppable-input div.draggable-value {
    cursor : not-allowed;
}