.verification {
    display:none;
}
.verification.success, .verification.error {
    display:block;
}

.navbar-brand.trainer-brand {
    background: url("../img/trainer-brand.png") 5px 50% no-repeat;
    background-size: 40px 40px;
    padding-left:55px;
    color: #efc84a;
}
.navbar-brand.trainer-brand:hover {
    color: #d14f3a;
}
section.stepspace {
    margin: 0 20px;
}
div.step {
    display:none;
    z-index: 0;
}
div.step.current {
    display:block;
    z-index: 1;
}
div[data-element="latex"] {
    display:inline-block;
    padding:3px;
}